<div class="row" *ngIf="admin">
    <div class="col-6">
        <h3>Admin Portal</h3>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-info" (click)="page = 'product'">Product</button>
        <button class="btn btn-info" (click)="page = 'user'">User</button>
        <button class="btn btn-danger" (click)="page = 'login'; admin = null;">Logout</button>
    </div>
</div>
<div *ngIf="admin">
    <div class="container row" *ngIf="page == 'product'">
        <div class="col-md-6">
            <app-product-list [productToDisplay]="createdProduct"></app-product-list>
        </div>
        <div class="col-md-6">
            <app-product-create (createdProduct)="onCreatedProduct($event)"></app-product-create>
        </div>
    </div>
    <div class="container row" *ngIf="page === 'user'">
        <div class="col-md-12">
            <app-user-list [userToDisplay]="users"></app-user-list>
        </div>
    </div>
</div>
<div *ngIf="!admin">
    <app-admin></app-admin>
</div>