<div class="row" *ngIf="user">
    <div class="col-6">
        <h3>User Portal</h3>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-info" (click)="page = 'shop'">Shop</button>
        <button class="btn btn-info" (click)="page = 'checkout'">Checkout</button>
        <button class="btn btn-danger" (click)="page = logout()">Logout</button>
    </div>
</div>
<div *ngIf="user">
    <div class="container row" *ngIf="page == 'shop'">
        <div class="col-md-6">
            <app-product-list [productToDisplay]="loadProducts()"></app-product-list>
        </div>
    </div>
    <div class="container row" *ngIf="page === 'checkout'">
        <div class="col-md-12"></div>
        <app-product-shoppingcart [cartToDisplay]="shoppingcart"></app-product-shoppingcart>
    </div>
</div>

<div *ngIf="!user">
    <app-user-create (user)=onLogin($event) ></app-user-create>
</div>