<h4>Products:</h4>

<div *ngIf="shoppingCart.length > 0">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of shoppingCart">
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td> <a class="delete" (click)="delete(product._id)">Remove</a> </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-info" (click)="checkout()">Checkout</button>
</div>


<div *ngIf="shoppingCart.length === 0" class="alert alert-info" role="info">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Information:</span>
    The cart is empty.
</div>