<div class="row" *ngIf="admin">
    <div class="col-6">
        <h3>Admin Portal</h3>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-info" (click) = "page = 'product'">Product</button>
        <button class="btn btn-info" (click) = "page = 'user'">User</button>
    </div>
<div *ngIf="admin">
    <div class="container row" *ngIf="page == 'product'">
        <div class="col-md-6">
            <app-product-list [productToDisplay]="createdProduct"></app-product-list>
        </div>
        <div class="col-md-6">
            <app-product-create (createdProduct)="onCreatedProduct($event)"></app-product-create>
        </div>
    </div>

    <div class="container row" *ngIf="page === 'user' ">
        <div class="col-md-12">
            <app-user-list [userToDisplay]="allUsers"></app-user-list>
        </div>
    </div>
</div>

<div *ngIf="!admin">
    <form class="form-horizontal" [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" formControlName="username">
            </div>
        </div>        
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" [disabled]="!adminLoginForm.valid">Login</button>
            </div>
        </div>
    </form>
</div>