<style>
    .image {
        width: 100px;
        height: 100px;
        border: 5px dashed #f7a239;
    }

    img {
        width: 750px;
        height: 500px;
    }
</style>
<div *ngIf="user">
    <div class="text-right align-right">
        <h2>User Portal</h2>
        <h3>Welcome {{user.name}}</h3>
        <button *ngIf='page != "shop"' class="btn btn-warning" (click)="page = 'shop'">Shop</button>
        <button *ngIf='page != "checkout"' class="btn btn-info" (click)="page = 'checkout'">Checkout</button>
        <button class="btn btn-danger" (click)="page = logout()">Logout</button>
    </div>
    <div class="container" *ngIf="page == 'shop'">
        <div *ngIf="products.length > 0">
            <div class="images">
                <button class="btn" (click)="previous()">Previous</button>
                <img [alt]="products[frame].name" [src]="products[frame].image" />
                <button class="btn" (click)="next()">Next</button>
            </div>
            <button class="btn" (click)="cart()">Add to Cart</button>
        </div>
        <div *ngIf="products.length === 0" class="alert alert-info" role="info">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Information:</span>
            The product collection is empty.
        </div>
    </div>
    <div class="container" *ngIf="page === 'checkout'">
        <h4>Cart:</h4>
        <div *ngIf="user.shoppingCart.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cart_item of user.shoppingCart">
                        <td>{{ cart_item.name }}</td>
                        <td>{{ cart_item.brand }}</td>
                        <td> <a class="delete" (click)="delete(cart_item._id)">Remove</a> </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-info" (click)="checkout()">Checkout</button>
        </div>

        <div *ngIf="user.shoppingCart.length === 0" class="alert alert-info" role="info">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Information:</span>
            The cart is empty.
        </div>
    </div>
</div>

<div *ngIf="!user">
    <app-user-create (loggedInUser)=onLogin($event)></app-user-create>
</div>